<h1>Clients</h1>

<table class="table table-striped table-secondary table-bordered">
  <thead>
    <tr>
      <th>Email</th>
      <th>Admin</th>
      <th></th>
      <th></th>
    </tr>
  </thead> 

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.email %></td>
        <td><%= client.admin? ? 'Yes' : 'No' %></td>
          <td> 
            <%= link_to 'Edit Profile', client_path(client)%>
        </td>
          <td> 
          <%= button_to 'Delete Profile', client_path(client), method: :delete, data: { confirm: 'Are you sure?', turbolinks: false }, class: "btn btn-outline-danger" %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New User', new_client_path, class: "btn btn-outline-info" %>