<nav class="navbar navbar-expand-lg" style="background-color: #f5f0bc";>
  <div class="container-fluid">
    <%= link_to 'Muahaha', root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <% if client_signed_in? %>
            <li class="nav-item">
          <%= javascript_include_tag "application", 'data-turbolinks-track': 'reload' %>
          <%= link_to "Sign out", destroy_client_session_path, method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class:"nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "Edit Profile", edit_client_registration_path, class:"nav-link"%>
          <% if current_client.admin? %>
            <li class="nav-item">
              <%= link_to "All users", clients_path, class:"nav-link"%>
            </li>
          <% end %>

          <% else %>
         <li class="nav-item">
          <%= link_to "Sign up", new_client_registration_path, class:"nav-link"%>
        </li>
         <li class="nav-item">
          <%= link_to "Sign in", new_client_session_path, class:"nav-link"%>
        </li>
        <% end %>

        </li>
      </ul>
    </div>
  </div>
</nav>
